
<tr bgcolor=ffffff>
  <td width="200px">
    {database-structure:datasource=confluenceDS|tableNameRegEx=.*space.*|columnNameRegEx=.*space.*}<br />
  </td>

  <td>
    <p>
      Generates a graphical overview of a database.
       <ul>
         <li><b>datasource:</b> - (required) Datasource name. Must be configured by Confluence admin.</li>
         <li><b>schemaName:</b> - (optional) name of schema to visualize.</li>
         <li><b>tableTypes:</b> - (optional) Comma separated list of types to show in graphics. It depends on the database which types are available. Common ones are <tt>TABLE, INDEX, SEQUENCE, VIEW</tt>. Macro database-info gives a list of available types.</li>
         <li><b>tableNameFilter:</b> - (optional) Show only tables with these names in generated graphic. Wildcards _ and % can be used as in a SQL SELECT. An additional filtering is possible with <tt>tableNameRegEx</tt>.</li>
         <li><b>columnNameFilter:</b> - (optional) Show only columns with these names in generated graphic. It works like <tt>tableNameFilter</tt>.</li>
         <li><b>tableNameRegEx:</b> - (optional) Show only tables with these names in generated graphic. Table names are defined as regular expression, e.g. show all tables whose names start with A,B,C or D: <tt>[A-D].*</tt/>.</li>
         <li><b>columnNameRegEx:</b> - (optional) Show only columns with these names in generated graphic. It works like <tt>tableNameRegEx</tt>.</li>
         <li><b>showColumns:</b> - (optional) If true column names and their data types are shown. Default: <tt>true</tt></li>
         <li><b>showComments:</b> - (optional) If true and comments are available, they are shown after <tt>--</tt>. Default: <tt>false</tt></li>
         <li><b>showDefaults:</b> - (optional) If true the default values are defined they are shown after <tt>=</tt>. Default: <tt>false</tt></li>
         <li><b>showIndexes:</b> - (optional) If true the indexes of each table are shown below the column names. Indexes can also be shown by adding INDEX to the list of <tt>tableTypes</tt> but this will need more space on the graphic. Default: <tt>false</tt></li>
         <li><b>additional:</b> - (optional) The appearance of the graphics can be changed by adding some DOT commands here. This will overwrite the default set by the macro.</li>
         <li><b>nodeFontsize:</b> - (optional) Size of font. Value must be integer. Default: 9</li>
         <li><b>format:</b> - (optional) Image output format. <tt>SVG</tt> or <tt>PNG</tt>. Default: <tt>PNG</tt></li>
         <li><b>exportName:</b> - (optional) stores the generated image as attachment if a name is given.</li>
         <li><b>debug:</b> - (optional) show debug information when set to <tt>true</tt>. Default: <tt>false</tt></li>
       </ul>
    </p>
    <p>
       This is the output of the sample on the left side:
    </p>
    <p>
       <img src="$req.contextPath/download/resources/de.griffel.confluence.plugins.plant-uml/icons/database-structure-macro-help.png"
         width="182" height="72" border="0">
    </p>
  </td>
</tr>
