
<tr bgcolor=ffffff>
  <td width="200px">
    {plantuml}<br />
BaseClass&nbsp;&lt;|--&nbsp;SubClass<br />
    {plantuml}
  </td>

  <td>
    <p>
      Generates a PlantUML diagram.
       <ul>
         <li><b>type:</b> - (optional) the type of the diagram. Possible values are: 'plantuml' (default), 'ditaa' or 'dot'</li>
         <li><b>align:</b> - (optional) align the diagram. Supported values are 'none' (default), 'left', 'center' and 'right'.</li>
         <li><b>border:</b> - (optional) border size in pixel. Value must be integer > 0.</li>
         <li><b>hspace:</b> - (optional) extra space left and right from the image. Value must be integer > 0.</li>
         <li><b>vspace:</b> - (optional) extra space below and above the image. Value must be integer > 0.</li>
         <li><b>title:</b> - (optional) the title of the diagram, default is none title. Only supported by some diagrams of type 'plantuml'.</li>
         <li><b>dropshadow:</b> - (optional) drop shadow. Only valid if type=ditaa.</li>
         <li><b>separation:</b> - (optional) separation of common edges of shapes. Only valid if type=ditaa.</li>
         <li><b>format:</b> - (optional) Image output format. <tt>SVG</tt> or <tt>PNG</tt>. Default: <tt>PNG</tt></li>
         <li><b>exportName:</b> - (optional) stores the generated image as attachment if a name is given.</li>
         <li><b>debug:</b> - (optional) show debug information when set to <tt>true</tt>.</li>
         <li><b>macro body:</b> - (required) the PlantUML block. The <tt>@start</tt> and <tt>@end</tt> tags are not required. The detailed documentation of the syntax is available on the <a href="http://plantuml.sourceforge.net">PlantUML website</a>.</li>
       </ul>
    </p>
    <p>
       This is the output of the sample on the left side:
    </p>
    <p>
       <img src="$req.contextPath/download/resources/de.griffel.confluence.plugins.plant-uml/icons/plantuml-macro-help.png"
         width="80" height="150" border="0">
    </p>
  </td>
</tr>
